:root {
  /* fonts */
  --main-font-family: 'Open Sans', sans-serif;
  --heading-font-family: 'Montserrat', sans-serif;
  --heading-font-serif-1: 'Playfair Display', serif;
  --heading-font-serif-2: 'Lora', serif;

  /* colors */
  --dark-primary-color: #0288D1;
  --light-primary-color: #B3E5FC;
  --primary-color: #03A9F4;
  --accent-color: #FF9800;
  --text-icons-white: #FFFFFF;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #BDBDBD;

  --pink: #ffc7c7;
  --pink-lighter: #ffe2e2;
  --purple: #8785a2;

  --red: #E85454;
  --yellow-lighter: #FCECA4;
  --blue: #90C3D4;

  --almost-white: #f7f7f7;
  --gray-darker: #696969;
  --gray: #ccc;
  --gray-lighter: #E8E8E8;
  --almost-black: #282828;

  /* sizes */
  --space: 1rem;

  /* font-weights */
  --light: 300;
  --medium: 600;
  --heavy: 900;

  /* transitions */
  --smooth: ease-in-out 0.25s;
  --smooth-border: border 0.5s ease-in-out;

  /* box-shadows */
  --smooth-shadow: 0 2px 4px var(--almost-white), 0 2px 4px rgba(0,0,0,0.24);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10 px */
}










body {
  background: var(--almost-white);
}

nav {
  width: 100%;
  padding: 1rem 0 1rem;
  position: fixed;
  z-index: 10000;
  background: var(--almost-white);
  box-shadow: var(--smooth-shadow);
  transition: var(--smooth);
}

nav ul {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  background: inherit;
  font-family: var(--main-font-family);
  font-size: 1.2vw;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: var(--almost-white);
  list-style-type: none;
  transition: var(--smooth);
}

nav ul li {
  flex: 1 1 auto; /* grow shrink basis */
  padding: 1.5rem 0 1.5rem 0;
  background: transparent;
}

nav ul li:first-child {
  flex: 1 0 auto;
  background: transparent;
}

nav ul li:nth-child(2) {
  flex: 12 1 auto;
  background: transparent;
}

nav ul li a {
  font-size: inherit;
  text-decoration: inherit;
  color: var(--almost-black);
  transition: var(--smooth);
}

nav li a:hover {
  color: var(--pink);
}

main {
  background: transparent;
  display: grid;
  grid-template: auto / repeat(12, 1fr);
  grid-gap: 1rem;

  max-width: 75vw;
  margin: 0 auto;
  padding-top: calc(var(--space)*10);
}










h1 {
  font-family: var(--heading-font-serif-1);
  font-size: 6rem;
  font-weight: normal;
  font-style: none;
  color: var(--almost-black);
  text-align: justify;
  text-transform: none;
}

h2 {
  font-family: var(--heading-font-serif-1);
  font-size: 4rem;
  font-weight: normal;
  font-style: none;
  color: var(--almost-black);
  text-align: justify;
  text-transform: none;
}

h3 {
  font-family: var(--heading-font-serif-1);
  font-size: 2rem;
  font-weight: normal;
  font-style: none;
  color: var(--almost-black);
  text-align: justify;
  text-transform: none;
}

h1::first-letter,
h2::first-letter,
h3::first-letter {
  text-transform: uppercase;
}










.empty {
  grid-area: span 3 / span 1;
  background: transparent;
}

.content {
  grid-area: span 3 / span 10;
  margin: calc(var(--space)*2)
          0
          calc(var(--space)*2)
          0;
  padding: calc(var(--space)*2);
  background: transparent;
}

.content p {
  font-family: var(--main-font-family);
  font-size: 1.5rem;
  font-weight: normal;
  font-style: none;
  color: var(--almost-black);
  text-align: justify;
  text-transform: none;
  text-decoration: none;
}

.content p a {
  font-size: inherit;
  color: var(--pink);
  text-decoration: none;
  transition: var(--smooth);
}

.content p a:hover {
  color: var(--pink-lighter);
}

.content p i {
  font-size: inherit;
  color: var(--purple);9o
}

.content p b {
  font-size: inherit;
}

.content p u {
  font-size: inherit;
}
